:root {
    --radius: 0.625rem;
    --background: oklch(0.1553 0.0042 285.9);
    --foreground: oklch(0.9328 0.0025 228.7857);
    --card: oklch(0.2097 0.008 274.5332);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(0.9328 0.0025 228.7857);
    --primary: oklch(0.5774 0.2091 273.85);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2316 0.0038 286.1);
    --secondary-foreground: oklch(0.9328 0.0025 228.7857);
    --muted: oklch(0.209 0 0);
    --muted-foreground: oklch(0.5637 0.0078 247.9662);
    --accent: oklch(0.497 0.1632 274.7);
    --accent-foreground: oklch(0.5774 0.2091 273.85);
    --destructive: oklch(0.6188 0.2376 25.7658);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3114 0.0055 301.21);
    --input: oklch(0.302 0.0288 244.8244);
    --ring: oklch(0.6818 0.1584 243.354);
    --chart-1: oklch(0.6723 0.1606 244.9955);
    --chart-2: oklch(0.6907 0.1554 160.3454);
    --chart-3: oklch(0.8214 0.16 82.5337);
    --chart-4: oklch(0.7064 0.1822 151.7125);
    --chart-5: oklch(0.5919 0.2186 10.5826);
    --sidebar: oklch(0.2097 0.008 274.5332);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.6818 0.1584 243.354);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.1928 0.0331 242.5459);
    --sidebar-accent-foreground: oklch(0.5774 0.2091 273.85);
    --sidebar-border: oklch(0.3795 0.022 240.5943);
    --sidebar-ring: oklch(0.6818 0.1584 243.354);
    --font-sans: var(--font-gg-sans), Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
        0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
        0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
        0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
        0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0),
        0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    /* Misc */
    --max-page-width: 114rem;
}
